
:root {
  --blue: #1976d2;
  /* --white: #ffffff; */
}

a:link {
  text-decoration: none;
  color: var(--blue);
}
a:visited {
  text-decoration: none;
  color: var(--blue);
}
a:hover {
  text-decoration: none;
  color: var(--blue);
}
a:active {
  text-decoration: none;
  color: var(--blue);
}
